<div class="page-container">
  <div class="mobile-navigation">
    <div class="top-navigation">
      <div class="logo">
        <img src="../../assets/inyova.png"/>
        <img src="../../assets/windmill.png"/>
      </div>
      <div class="zendesk-and-menu">
        <div class="zendesk-icon">
          <img class="notification-icon" src="../../assets/zendesk.png" alt="Notification"/>
        </div>
        <div class="menu-container">
          <img class="menu-icon" src="../../assets/burger.png" alt="Menu"/>
        </div>
      </div>
    </div>
  </div>
  <app-personal-details></app-personal-details>
</div>
