<div class="content"> </div>

<div class="footer">
  <div class="footer-background"> </div>
  <div class="guarantee">
    <img src="../../assets/shield.png" alt="Guarantee icon" class="guarantee-icon"/>
    <div class="guarantee-text">
      <p class="guarantee-text-main">Inyova guarantees highest investment standards.</p>
      <p class="guarantee-text-link">Learn more.</p>
    </div>
  </div>
  <div class="cta-book-consultation">
    <p class="cta-text-book">Book consultation</p>
  </div>
  <div class="cta-open-account">
    <button type="button" class="cta-text-open" (click)="onOpenAccount()">Open account</button>
  </div>
  <img  class="chat" src="../../assets/chat.png" />
</div>
